{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recess-order"
  ],
  "plugins": ["stylelint-order"],
  "defaultSeverity": "warning",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "screen",
          "variants",
          "responsive"
        ]
      }
    ],
    "no-duplicate-selectors": null,
    "no-empty-source": null,
    "rule-empty-line-before": null,
    "comment-empty-line-before": null,
    "selector-pseudo-element-no-unknown": null,
    "no-descending-specificity": null,
    "string-no-newline": null,
    "selector-max-universal": 1,
    "selector-class-pattern": null,
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-no-missing-interpolation": true,
    "scss/dollar-variable-pattern": "/^[a-z-]+$/",
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/operator-no-newline-before": true,
    "scss/operator-no-unspaced": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/at-rule-no-unknown": null
  }
}
